In [16]:

import pandas as pd
import mysql.connector

In [17]:
host = 'localhost'
user = 'root'
password = ''
database = 'facultyleavedb'

In [18]:
conn = mysql.connector.connect(host=host, user=user, password=password, database=database)
cursor = conn.cursor()

In [6]:
query = "SELECT * FROM `staff`"
cursor.execute(query)
data = cursor.fetchall()

In [7]:
data

[(20003, 'Dr. B. Jeyanthi', 'SNH', datetime.date(2008, 9, 1)),
 (21002, 'Dr. J. Thirumal', 'CIVIL', datetime.date(2008, 9, 1)),
 (21003, 'Mrs. G. Devi', 'CIVIL', datetime.date(2009, 8, 5)),
 (21006, 'Mrs. C. Jayalakshmi', 'CIVIL', datetime.date(2009, 8, 19)),
 (21010, 'Dr. S. Adish Kumar', 'CIVIL', datetime.date(2009, 11, 2)),
 (22003, 'Mrs. T. Kavitha', 'CSE', datetime.date(2009, 8, 18)),
 (22006, 'Dr. E. Golden Julie', 'CSE', datetime.date(2009, 8, 25)),
 (22007, 'Dr. C. Akila', 'CSE', datetime.date(2009, 8, 31)),
 (22009, 'Dr. J. Roselin', 'CSE', datetime.date(2009, 8, 31)),
 (22010, 'Dr. J. Jesu Vedha Nayahi', 'CSE', datetime.date(2009, 8, 31)),
 (22015, 'Dr. S. Sabena', 'CSE', datetime.date(2010, 8, 19)),
 (22019, 'Dr. M. Nava Barathy', 'CSE', datetime.date(2010, 8, 23)),
 (22021, 'Dr. T. Brinda', 'CSE', datetime.date(2010, 9, 9)),
 (23002, 'Dr. L. Sheela', 'EEE', datetime.date(2008, 9, 1)),
 (24001, 'Dr. S. Suja Priyadharsini ', 'ECE', datetime.date(2008, 9, 1)),
 (24003, 'Dr. K. Usha Kingsly Devi', 'ECE', datetime.date(2008, 9, 4)),
 (24007, 'Dr. M. Malleswaran ', 'ECE', datetime.date(2009, 9, 2)),
 (25001,
  'Dr. N. Shenbaga Vinayaga Moorthi',
  'MECH',
  datetime.date(2008, 9, 5)),
 (25005, 'Dr. U. Arunachalam', 'MECH', datetime.date(2009, 8, 26)),
 (25007, 'Dr. P. Arul Franco', 'MECH', datetime.date(2009, 10, 28)),
 (25009, 'Dr. S. Rajakumar', 'MECH', datetime.date(2009, 10, 28)),
 (25010, 'Dr. K. Karuppasamy', 'MECH', datetime.date(2009, 10, 29)),
 (25012, 'Dr. M. S. Starvin', 'MECH', datetime.date(2009, 10, 30)),
 (25013, 'Dr. T. Velmurugan', 'MECH', datetime.date(2009, 10, 30)),
 (25019, 'Dr. J. Bruce Ralphin Rose ', 'MECH', datetime.date(2010, 8, 20)),
 (25030, 'Dr. K. Mathi', 'MECH', datetime.date(2010, 8, 30)),
 (26001, 'Dr. S. Silas Sargunam ', 'MS', datetime.date(2008, 9, 1)),
 (27002, 'Mrs. Vinolia Anandan  ', 'CA', datetime.date(2009, 8, 31)),
 (27003, 'Dr. A. Radhakrishnan', 'IT', datetime.date(2009, 9, 3)),
 (29007, 'Dr. R. Ramasubramanian', 'SNH', datetime.date(2010, 8, 26)),
 (30002, 'Dr. M. Subramanian  ', 'SNH', datetime.date(2008, 9, 1)),
 (30003, 'Dr. R. Mohan Raj', 'SNH', datetime.date(2008, 9, 1)),
 (30555, 'Sharon Joseph', 'CSE', datetime.date(2023, 8, 29))]

In [9]:
df = pd.DataFrame(data, columns=['ID', 'Name', 'department',"dataofjoin"])

In [23]:
df =  pd.DataFrame()

In [15]:
import pandas as pd

# Sample data to insert
new_data_1 = {'Name': 'New Person', 'Age': 25}
new_data_2 = {'Name': 'Maheshwar', 'Age': 30}

# Load the existing Excel file into a DataFrame
excel_filename = 'data.xlsx'
#

# Define the index where you want to insert the new data
insert_index_1 = 2
insert_index_2 = 3

# Insert new data at specified indices
df = pd.concat([df.loc[:insert_index_1 - 1], pd.DataFrame([new_data_1]), df.loc[insert_index_1:]]).reset_index(drop=True)
df = pd.concat([df.loc[:insert_index_2 - 1], pd.DataFrame([new_data_2]), df.loc[insert_index_2:]]).reset_index(drop=True)

# Save the modified DataFrame to Excel
df.to_excel(excel_filename, index=False)

print(f"Data has been inserted and exported to {excel_filename}")

print(f"Data has been inserted and exported to {excel_filename}")

Data has been inserted and exported to data.xlsx
Data has been inserted and exported to data.xlsx

In [24]:
import pandas as pd


new_data = {'ID': 999, 'Name': 'New Person', 'Age': 25}


excel_filename = 'data.xlsx'


insert_index = 2  

df = pd.concat([df.iloc[:insert_index], pd.DataFrame([new_data]), df.iloc[insert_index:]]).reset_index(drop=True)


num_columns = 3 


new_row = [None] * num_columns
df.loc[insert_index] = new_row

# Save the modified DataFrame to Excel
df.to_excel(excel_filename, index=False)

print(f"Data has been inserted and exported to {excel_filename}")

Data has been inserted and exported to data.xlsx

In [29]:
import xlsxwriter
workbook = xlsxwriter.Workbook('Book2.xlsx')
worksheet = workbook.add_worksheet()
 
bold = workbook.add_format({'bold': True})
 
worksheet.write('A1', 'Name', bold)
worksheet.write('B1', 'Department', bold)
row = 1
col = 0
 
data = ( 
    ['Rajendra', 'Hi, You are on SQLShack.com, refer to all SQL Server related contents.'], 
    ['Kashish','How do you get to see a physiotherapist?'], 
    ['Arun', 'I am a student of class 1 in Bookburn primary school.'], 
    ['Rohan','Are you a Bank Manager?'], 
) 
 
worksheet.set_column('B:B', 60)
 
for name, score in (data): 
    worksheet.write(row, col, name) 
    worksheet.write(row, col + 1, score) 
    row += 1
workbook.close()

In [26]:
pip install xlsxwriter

Collecting xlsxwriter
  Downloading XlsxWriter-3.1.2-py3-none-any.whl (153 kB)
                                              0.0/153.0 kB ? eta -:--:--
     -------                                 30.7/153.0 kB 1.3 MB/s eta 0:00:01
     ---------                             41.0/153.0 kB 393.8 kB/s eta 0:00:01
     ----------------------                92.2/153.0 kB 751.6 kB/s eta 0:00:01
     ----------------------------         122.9/153.0 kB 654.9 kB/s eta 0:00:01
     ------------------------------------ 153.0/153.0 kB 759.5 kB/s eta 0:00:00
Installing collected packages: xlsxwriter
Successfully installed xlsxwriter-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
import xlsxwriter
workbook = xlsxwriter.Workbook('Book2.xlsx')
worksheet = workbook.add_worksheet()
worksheet.write('A1', 'Name')

0

In [19]:
import xlsxwriter
workbook = xlsxwriter.Workbook('Book.xlsx')
worksheet = workbook.add_worksheet()
worksheet.write('A1', 'Welcome')
merge_format = workbook.add_format({
    'align': 'center',
    'valign': 'vcenter',
    'border': 1,
    'border_color': 'black',
    'text_wrap': True,
    'shrink': True,
    'indent': 1
})
worksheet.merge_range(0, 1, 0, 3, 'Data Spanning Multiple Columns', workbook.add_format({'align': 'center'}))
workbook.close()