In [54]:
import pandas as pd
from datetime import datetime

In [108]:
def convert_to_desired_format(date_str):
    input_date_format = "%d.%m.%Y"

    try:
        parsed_date = datetime.strptime(date_str, input_date_format)
        converted_date_str = parsed_date.strftime("%Y-%m-%d")
        return converted_date_str
    except ValueError:
        return date_str

In [163]:

def get_el(file):
    # Load Excel data into a DataFrame
    df = pd.read_excel(file, sheet_name=-1)  # -1 selects the last sheet

    df.columns = df.iloc[6].fillna("_").tolist()
    df = df.iloc[7:, :5]
    df = df.reset_index(drop=True)

    # Extract rows starting from the 8th row
    data = []
    
    for i, row in df.iterrows():
        row = row.fillna("NULL").tolist()
        if not set(row).issubset({"NULL", "-"}):
            row[-1] = str(row[-1]).removesuffix("*") if row[-1] != "NULL" else row[-1]
            row = [convert_to_desired_format(date_str) for date_str in row]

            data.append(row)
    data = pd.DataFrame(data)
    data =data[0:9]
    data[2] = data[2].astype(str).str.replace(" ","")
    data[2] = data[2].astype(str).str.split('&')
    for i, row in data.iterrows():
        datecor = [convert_to_desired_format(date_str) for date_str in row[2]]
        data.at[i, 2] = datecor
            
            
         
    
    data['prefix'] = ''
    data['suffix'] = ''
    for i, row in data.iterrows():
        for v in row[2]:
            v.replace(" ","")
            
            if v=='NULL' or v == 'NIL':
                pass
            elif row[0]>v:
                data.at[i, 'prefix'].append(v) 
            if row[1]<v and v!='NULL' and v!='NIL':
                data.at[i, 'suffix'].append(v) 
   
    return data

In [164]:
data =get_el("faculty.xlsx")

AttributeError: 'str' object has no attribute 'append'

In [89]:
data = pd.DataFrame(data)

In [91]:
data =data[0:9]

In [162]:
data

,0,1,2,3,4,prefix,suffix
0,2019-12-12,2019-09-14,[NULL],NULL,3,,
1,2020-05-19,2020-05-23,[NULL],NULL,5,,
2,28.09.2O20,2020-09-30,[2020-09-27],2020-10-01,3,2020-09-27,
3,2020-11-04,2020-11-07,[2020-11-08],2020-11-09,4,,2020-11-08
4,2020-11-27,2020-11-28,[2020-11-29],2020-11-30,2,,2020-11-29
5,2022-09-14,2022-09-16,"[2022-09-17, 2022-09-18]",2022-09-19,3,,2022-09-18
6,2022-10-18,2022-10-20,[NIL],2022-10-21,3,,
7,2022-11-28,2022-11-29,[2022-11-27],2022-11-30,2,2022-11-27,
8,2023-02-09,2023-02-18,[2023-02-19],2023-02-20,9,,2023-02-19

In [97]:
data

,0,1,2,3,4,prefix,suffix
0,12.12.2019,14.09.2019,[NULL],NULL,3,,NULL
1,19.05.2020,23.05.2020,[NULL],NULL,5,,NULL
2,28.09.2O20,30.09.2020,[27.09.2020],01.10.2020,3,27.09.2020,
3,04.11.2020,07.11.2020,[08.11.2020],09.11.2020,4,,08.11.2020
4,27.11.2020,28.11.2020,[29.11.2020],30.11.2020,2,,29.11.2020
5,14.09.2022,16.09.2022,"[17.09.2022 , 18.09.2022]",19.09.2022,3,18.09.2022,17.09.2022
6,18.10.2022,20.10.2022,[NIL],21.10.2022,3,,NIL
7,28.11.2022,29.11.2022,[27.11.2022],30.11.2022,2,27.11.2022,
8,09.02.2023,18.02.2023,[19.02.2023],20.02.2023,9,,19.02.2023

In [60]:
data[0]>data[1]

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
8    False
dtype: bool

In [66]:
data[2] = data[2].astype(str).str.split('&')

In [67]:
data

            0           1                           2           3  4
0  12.12.2019  14.09.2019                      [NULL]        NULL  3
1  19.05.2020  23.05.2020                      [NULL]        NULL  5
2  28.09.2O20  30.09.2020                [27.09.2020]  01.10.2020  3
3  04.11.2020  07.11.2020                [08.11.2020]  09.11.2020  4
4  27.11.2020  28.11.2020                [29.11.2020]  30.11.2020  2
5  14.09.2022  16.09.2022  [17.09.2022 ,  18.09.2022]  19.09.2022  3
6  18.10.2022  20.10.2022                       [NIL]  21.10.2022  3
7  28.11.2022  29.11.2022                [27.11.2022]  30.11.2022  2
8  09.02.2023  18.02.2023                [19.02.2023]  20.02.2023  9

In [72]:
prefixx = ''

In [86]:
for i, row in data.iterrows():
    for v in row[2]:
        if v=='NULL' or v == 'NIL':
            print("nothing", v)
        elif row[0]>v:
            print("prefix", v)
        elif row[1]<v:
            print("suffixx",v)

nothing NULL
nothing NULL
prefix 27.09.2020
suffixx 08.11.2020
suffixx 29.11.2020
suffixx 17.09.2022
prefix  18.09.2022
nothing NIL
prefix 27.11.2022
suffixx 19.02.2023

In [75]:
for

[]

In [ ]:
data[2] = data[2].astype(str).str.split('&')
for i, row in data.iterrows():
    for v in row[2]:
        if v=='NULL' or v == 'NIL':
            print("nothing", v)
        elif row[0]>v:
            print("prefix", v)
        elif row[1]<v:
            print("suffixx",v)